* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}



#content {
    position: relative;
    margin-top: 140px;
    margin-left: 100px;
    font-weight: lighter;
    animation-name: content;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes content {
    0% {
        left: -1000px;
    }

    100% {
        left: 0;
    }
}


#aboutUs {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

#couplePhoto {
    height: 750px;
    width: 550px;
    padding: 90px 90px;
    margin-left: 50px;
    margin-top: 50px;
}

.fade-in {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#content p {
    color: rgb(139 129 118);
}

p:first-letter {
    color: rgb(139 129 118);
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 33%;
    background-color: rgb(139 129 118);
    color: white;
    padding: 3%;
}


#footer h4 {
    font-size: 16px;
    line-height: 18.78px;
    font-weight: normal;
    margin-bottom: 20px;
}

#footer p {
    font-size: 12px;
    line-height: 20px;
    font-weight: lighter;
}