* {
    margin:0;
    font-family: 'Raleway', sans-serif;
}

#headerNav {
    display: flex;  
    position: fixed; 
    width: 100%;
    z-index: 10;
    border:1px solid #FCF4EA;
    background-color:#FCF4EA;
    font-size: 20px;
    line-height: 20px;
    justify-content: space-around;
    padding: 1%, 10.6%, 1%, 13%;
}
    
#logo {
    margin-top: 7px;
}

#headerNav a {
    color:black;
    float: right;
    padding: 20px;
    font-size: 12px;
    letter-spacing: 0.8px;
    line-height: 16px;
    text-decoration: none;
    margin-top: 10px;
}
    
#headerNav input {
    border-radius: 20px;
    padding-left: 15px;
    width: 197px;
    height: 40px;
    margin-top: 15px;
    outline: 0;
    letter-spacing: 0.93px;
    line-height: 19px;
    border: none;
}
    







#containerBody {
display: grid;
grid-template-columns: 50% 50%;
}

.bigRing {
    width: 450px;
    height: 450px;
    margin-left: 230px;
    margin-top: 100px;
}

.smallRing{
    width: 150px;
    height: 150px;
    padding: 0px; 
    margin-left: 110px;
    border:0px;
    display: inline-block;
}

.purchase {
    text-align: left;
    margin-left: 120px;
    margin-top: 30px;
    width: 700px;
}

.moreDetails {
    text-emphasis: left;
    padding: 160px 0;
    line-height: 18.78px;
    width: 436px;
    margin-left: 150px;
}

.moreDetails p:first-child{
    font-size: 30px;
    line-height: 35.22px;
    width: 465px;
    margin: 25px;
}

.moreDetails p:nth-child(3){
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 17.61px;
    width: 90px;
    margin: 25px;

}

.moreDetails p:nth-child(5){
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 17.61px;
    width: 90px;
    margin: 25px;

}

.moreDetails p:nth-child(8){
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 23.48px;
    width: 436px;
    margin: 25px;

}

.moreDetails p:nth-child(9){
    font-size: 16px;
    line-height: 18.78px;
    width: 436px;
    margin: 25px;
    text-align: justify;
}

.button4 {
    border-radius: 14.5px;
    width: 234px;
    height: 40px;
    background-color:rgb(139 129 118);
    color: white;
    border: none;
    outline:0;
    margin: 25px;
}

hr {
    width: 434px;
    height: 1px;
    background-color:rgb(139 129 118);   
    margin-left: 25px; 
    margin-top: 25px;
    margin-bottom: 25px;
}








#footer {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 33%;
    background-color: rgb(139 129 118);
    color: white;
    padding: 3%;
}


#footer h4{
    font-size: 16px;
    line-height: 18.78px;
    font-weight: normal;
    margin-bottom: 20px;
}

#footer p {
  font-size: 12px;
  line-height: 20px;
  font-weight: lighter;
}
